<nav class="navbar">
    <div class="navbar-logo">
        <span>TukTak</span>
    </div> 


    <div class="btns">
        <!-- here buttons for login and signup  --> 
        <button class="btn1">SignIn</button>
        <button class="btn2">SignUp</button>
    </div>
    <div class="btns">
        <!-- here buttons for login and signup  --> 
        <button class="btn3">Log Out</button>
    </div>
</nav>