<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/home.css" />
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/auth.css" />
    <link rel="stylesheet" href="/CSS/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <div class="landing-hero">  
            <% post.forEach( function(p)  { %>

              <div class="video">
                <a href="/video/<%=p._id%>">
                  <video src="<%= p.video_url.url %>" muted ></video>
                </a>
                <div style="display: flex ;margin-top: 10px;margin-bottom: 10px;">
                  
                  <img
                    src="https://images.pexels.com/photos/9001374/pexels-photo-9001374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt=""
                  />
                    <p style="margin-left: 5px">CHOMU</p>
                    
                  </div> 
                  <div style="color: white;" >
                    #randi <br /> 
                    <span style="text-decoration:underline;display: block; margin-top: 5px;">
                      <i style="margin-right:5px" class="bi bi-music-note"></i> music notes original sound - yayagranatosy - Yaya Granatosy
                    </span>
                  </div>
                  
                </div>

            <% }) %>
      </div>
      <div class="add-btn">
        <a href="/upload" style="text-decoration:none; color: antiquewhite;">
          <i class="bi bi-plus-circle"></i>
        </a>
      </div>
    </div> 
    <script src="/JS/Landing.js"></script>
  </body>
</html>
