

.landing-hero {
    min-height: 90vh; 
    display: flex; 
    padding: 10px; 
    flex-wrap: wrap;
    justify-content: center; 
    position: relative;
    top: 10vh;
}

.video {
    font-family: 'Montserrat', sans-serif; 
    padding: 5px; 
    width: 300px; 
    margin: 10px;
} 


.video video {
    width: 300px !important;
    height: 300px;
    object-fit: cover; 
    border-radius: 5px;
    z-index: -100; 
    cursor: pointer;
}
.video img {
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
} 
.video p {
  color: white;    
} 

.comments-hero {
    padding: 20px; 
    font-family: 'Montserrat', sans-serif;  
    margin-top: -60px;
} 

.comments-hero h2  {
  color: gray;
} 
.comment-section {
    background-color: rgba(25, 39, 54, 0.5); 
    padding: 1em; 
    border-radius: 10px;
} 
.comment-section img {
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
}

.comment-input {
    display: flex; 
    align-items: center;
    justify-content: center;
} 
.comment-input textarea { 
    margin-left: 1em; 
    width: 60%;
}

.add-btn { 
    background-color: rgb(7, 99, 99); 
    padding: 10px;
    position: fixed ;
    bottom: 20px; 
    right: 20px;
    font-size: 40px;
    color: antiquewhite; 
    border-radius: 10px; 
    cursor: pointer;
}